* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

:root {
    --boxShadow-light: 0px 0px 10px 3px rgba(31, 236, 236, 0.25);
    --boxShadow-dark: 0px 0px 10px 3px rgba(54, 167, 167, 0.25);
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg-light.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: all ease 0.5s;
}

.dark {
    background-image: url(../images/bg-dark.jpg);
}

#menu {
    width: 4%;
    height: 80%;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(0deg, rgba(53, 164, 173, 0.2), rgba(53, 164, 173, 0.2)), rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 5px;
    overflow: hidden;
}

.dark>#menu {
    background: linear-gradient(0deg, rgba(11, 64, 68, 0.2), rgba(11, 64, 68, 0.2)), rgba(6, 37, 39, 0.5);
    box-shadow: var(--boxShadow-dark);
}

#menu>ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#menu>ul>li {
    width: 90%;
    height: 9%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    border: 0.5px solid transparent;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
    font-size: 1.2rem;
}

#menu>ul>li,
#menu>ul>li>a {
    color: #222370;
}

.dark>#menu>ul>li,
.dark>#menu>ul>li>a {
    color: #DCDCF6;
}

#menu>ul>li:hover {
    background: rgba(202, 233, 236, 0.5);
    border: 0.5px solid #71ACB1;
}

.dark>#menu>ul>li:hover {
    background: rgba(16, 96, 104, 0.5);
    border: 0.5px solid #24646A;
}

#menu>ul>li.active {
    width: 90%;
    height: 8%;
    background: rgba(202, 233, 236, 0.5);
    border: 0.5px solid #71ACB1;
}

.dark>#menu>ul>li.active {
    background: rgba(16, 96, 104, 0.5);
    border: 0.5px solid #24646A;
}

#menu>ul>li.active::after {
    content: '';
    width: 3px;
    height: 20px;
    left: 0px;
    border-radius: 0px 2px 2px 0px;
    position: absolute;
    background: #04AFD5;
    box-shadow: 1px 0px 4px 2px rgba(9, 212, 225, 0.25);
}

/* Page Content */

#content {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home Page */

#content>.home {
    width: 400px;
    height: 200px;
    background: rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}

#content>.home>p {
    text-align: center;
}

/* About Page */

#content>.about {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

#content>.about>img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--boxShadow-light);
}

#content>.about>p {
    width: 500px;
    height: 100%;
    background: rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 15px;
    padding: 20px;
}

/* Resume Page */

#content>.resume {
    width: 90%;
    height: 80%;
    background: rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    /* display: none; */
}

#content>.resume>.info {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#content>.resume>.info>img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 0 10px 10px #0cb452;
}

#content>.resume>.info>p {
    width: 100%;
    height: 55%;
    background: rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#content>.resume>.expriense {
    width: 40%;
    height: 100%;
    background: rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
}

#content>.resume>.expriense>h2 {
    text-align: center;
    background: #00000050;
    padding: 5px;
}

#content>.resume>.eduwork {
    width: 40%;
    height: 100%;
    background: rgba(202, 233, 236, 0.5);
    box-shadow: var(--boxShadow-light);
    border-radius: 15px;
    overflow: hidden;
    /* padding: 20px; */
}

#content>.resume>.eduwork>h2 {
    text-align: center;
    background: #00000050;
    padding: 5px;
}
#content>.resume>.eduwork>p,
#content>.resume>.expriense>p{
    padding: 10px;
    margin: 10px 0;
}

#content>.resume>.eduwork>p>i,
#content>.resume>.expriense>p>i{
    margin-right: 3px;
}
